<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/262f7be2-58f1-4331-ac38-34b3f7b71190/resourceGroups/sistemaoficina/providers/Microsoft.Web/sites/sistemaoficina</ResourceId>
    <ResourceGroup>sistemaoficina</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sistemaoficina.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6cb6eb13-723f-462f-9d5c-11c0ae7102ff</ProjectGuid>
    <PublishUrl>https://sistemaoficina.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sistemaoficina</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>